/* this is how you make your content centered */
body{
    font-family: 'Roboto', sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F3F1F5;
}

button{
    font-family: 'Roboto', sans-serif;
    background: none;
    color: #BFA2DB;
    border: 2px solid #BFA2DB;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 0.2em;
    transition: box-shadow 0.5s, transform 0.5s;
    font-weight: 400;
}

button:hover{
    border: none;
    color: #F3F1F5;
    background-color: pink;
    box-shadow: 0.5em 0.5em 0em 0.01em #BFA2DB;
    transform: translateY(-0.3em);
}

button:active{
    background-color: #F3F1F5;
    color: rgb(107, 120, 193);
}