/* this is unversal selector */
/* * {color: rgba(82, 82, 160, 0.913);} */


/* this  is elemenet selector */
h1,h2,h3{
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    font-family: futura, sans-serif;
    text-decoration-style: wavy;
    color: rgb(59, 68, 106);
}

a {
    text-decoration: none;
    color: rgb(100, 87, 242);
}

p {
    line-height: 1.5;
    color: rgb(81, 84, 171);
}

h2 {
    color: #3952ad;
}


button {
    background-color: cornflowerblue;
    color: aliceblue;
}



/* this is id selector */

#signup {
    background-color: #a0c4ff;
    color: aliceblue;
}

#login {
    background-color: #ffd6a5;
    color: aliceblue;
}

/* ini menggunakan class selector */

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(58, 58, 58);
}

/* descendent selector */
li a {
    color: rgb(210, 145, 88);
    font-family:Arial, Helvetica, sans-serif;
}

/* desendent selector with class */

.merah a {
    color: red;
}

/* adjecent selectors */

p + button {
    background-color: pink;
    color: #3952ad;
}

/* direct children selector | one level down */

footer > a {
    color: rgb(255, 0, 0);
}

input [type="password"]{
    color :rgb(100, 87, 242)
}

.special{
    background: black;
}