h1, h2{
    text-align: center;
}

h3{
    text-align: center;
    font-weight: 400;
    color: rgb(47, 47, 82);
}

body{
    font-family: 'Open Sans', sans-serif;
}

p{
    margin: 0;
}
.tulisan{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(217, 225, 231);
}
/* flex direction */
#container{
    background-color: whitesmoke;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    /* ini property yang pakai selama ini */
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;

}

#container div{
    height: 200px;
    width: 200px;
}
/* ---------------------------------------- */
#container2{
    background-color: whitesmoke;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}

#container2 div{
    height: 200px;
    width: 200px;
}
/* ---------------------------------------- */
#container3{
    background-color: whitesmoke;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:center;

}

#container3 div{
    height: 200px;
    width: 200px;
}

/* ---------------------------------------- */
#container4{
    background-color: whitesmoke;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}

#container4 div{
    height: 200px;
    width: 200px;

}


    /* penggunaan flex-wrap */
/* ---------------------------------------- */
#container5{
    background-color:whitesmoke;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;

}

#container5 div{
    height: 200px;
    width: 300px;
}

/* ---------------------------------------- */
#container6{
    background-color:whitesmoke;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap-reverse;

}

#container6 div{
    height: 200px;
    width: 200px;
}